body{
	background-color:A0A0FF;
	text-align:center;
}

h1{
	font-size:40px;
	font-family:Arial;
	font-style:bold;
}

h2{
	font-size:20px;
	font-family:Arial;
}

button{
	width:150px;
	height:40px;
}

p{
	text-align:left;	
}

#barcodeCanvas{
	border:1px solid black;
}

#keytapCanvas{
	border:1px solid black;	
}
